@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 800;
  src: local("Monument Extended"),
    url("https://fonts.cdnfonts.com/s/19595/MonumentExtended-Ultrabold.woff")
    format("woff");
}

@font-face {
  font-family: "Phonk";
  src: url("../src/assets/fonts/Phonk\ Regular\ DEMO.otf");
}

@font-face {
  font-family: "Cynatar";
  src: url('../src/assets/fonts/Cynatar.otf') format('opentype');
  font-weight: 2;
  font-style: normal;
}
