@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: 800;
  src: local("Monument Extended"),
    url("https://fonts.cdnfonts.com/s/19595/MonumentExtended-Ultrabold.woff") format("woff");
}

